<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='content' name='content'>
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>
            let cseStd = {{cseStd}}
            let eeeStd = {{eeeStd}}
            let ceStd = {{ceStd}}
            let teStd = {{teStd}}
            let meStd = {{meStd}}

            let cseTeac = {{cseTeac}}
            let eeeTeac = {{eeeTeac}}
            let ceTeac = {{ceTeac}}
            let teTeac = {{teTeac}}
            let meTeac = {{meTeac}}

            let cseProj = {{cseProj}}
            let eeeProj = {{eeeProj}}
            let ceProj = {{ceProj}}
            let teProj = {{teProj}}
            let meProj = {{meProj}}

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'University Analysis'
            },
            xAxis: {
                categories: ['CSE', 'EEE', 'CE', 'TE', 'ME']
            },
            series: [{
                name: 'Students',
                data: [cseStd, eeeStd, ceStd, teStd, meStd]
            }, {
                name: 'Teachers',
                data: [cseTeac, eeeTeac, ceTeac, teTeac, meTeac]
            }, {
                name: 'Projects',
                data: [cseProj, eeeProj, ceProj, teProj, meProj]
            }]
        });
    </script>
</body>
</html>